// Animation check qui roule
@keyframes check-move {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Animation Entrées, Plats, Desserts
@keyframes entrance-move {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    33% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes dish-move {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    33% {
        transform: translateY(15px);
        opacity: 0;
    }
    66% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes dessert-move {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }
    66% {
        transform: translateY(15px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}