@-webkit-keyframes check-move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes check-move {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes entrance-move {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  33% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entrance-move {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  33% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes dish-move {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  33% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  66% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dish-move {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  33% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  66% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes dessert-move {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  66% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes dessert-move {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  66% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f6f6f6;
}

header {
  position: relative;
}

.header-logo {
  position: relative;
  z-index: -1;
  padding-top: 25px;
  background-color: white;
}

.header-logo img {
  width: 45%;
}

.header-arrow {
  position: absolute;
  top: 27px;
  left: 25px;
}

.header-arrow i {
  color: #353535;
  font-size: 1.3rem;
  font-weight: bold;
}

.restaurant-bg {
  height: 250px;
}

.restaurant-bg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.main-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  top: -40px;
  border-radius: 40px 40px 0 0;
  background-color: #f6f6f6;
  padding: 35px 20px 0px;
}

.main-menu h2 {
  text-transform: uppercase;
  position: relative;
  font-weight: 400;
  padding: 0 0 10px;
}

.main-menu h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 40px;
  border-bottom: 4px solid #99E2D0;
}

.main-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-title h1 {
  margin: 0;
  font-family: "Shrikhand", cursive;
  font-size: 1.7rem;
  font-weight: 500;
}

.main-title i {
  font-size: 1.6rem;
  padding-right: 20px;
}

.main-title__heart {
  position: relative;
  cursor: pointer;
}

.main-title__heart-full {
  position: absolute;
  top: 0;
  opacity: 0;
  color: #9356DC;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.main-title__heart:active > .main-title__heart-full {
  opacity: 1;
}

.card-meal {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 20px -4px #c2c2c2;
          box-shadow: 0 2px 20px -4px #c2c2c2;
  border-radius: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.card-meal__description {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 5px;
  width: 80%;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.card-meal__description h3 {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 1.2rem;
  font-weight: 500;
}

.card-meal__description p {
  margin: 0;
  font-size: 0.8rem;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-meal__price {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 27px 0 0 15px;
  font-weight: 500;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.card-meal__bar {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  background-color: #99E2D0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

.card-meal__bar__check {
  font-size: 1.6rem;
  color: white;
}

.card-meal:active > .card-meal__description {
  width: 60%;
}

.card-meal:active > .card-meal__price {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.card-meal:active .card-meal__bar {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.card-meal:active > .card-meal__bar > .card-meal__bar__check {
  -webkit-animation: check-move 400ms ease-in-out;
          animation: check-move 400ms ease-in-out;
}

.entrance {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: entrance-move 2000ms ease-in-out;
          animation: entrance-move 2000ms ease-in-out;
}

.dish {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: dish-move 2000ms ease-in-out;
          animation: dish-move 2000ms ease-in-out;
}

.dessert {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-animation: dessert-move 2000ms ease-in-out;
          animation: dessert-move 2000ms ease-in-out;
}

.main-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px 0;
}

.main-order a {
  text-decoration: none;
  color: white;
  padding: 15px 55px;
  border-radius: 30px;
  background-image: linear-gradient(-5deg, #9356DC, 70%, #FF79DA);
  -webkit-box-shadow: 0 1px 8px 3px #b9b8b8;
          box-shadow: 0 1px 8px 3px #b9b8b8;
  position: relative;
  z-index: 1;
}

.main-order a:active::after {
  opacity: 0.2;
}

.main-order a::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-box-shadow: 0 2px 8px 8px black;
          box-shadow: 0 2px 8px 8px black;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}
/*# sourceMappingURL=menu.css.map */