@import "anim_menu";

* {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

// variables
$font-logo-title: 'Shrikhand', cursive;
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$bg-color: rgba(246,246,246,255);

$size-very-high: 1.7rem;
$size-high: 1.6rem;
$size-medium: 1.3rem;
$size-low: 1.2rem;
$size-very-low: 1.1rem;
$size-x-low: 0.9rem;
$size-x-x-low: 0.8rem;

body {
    background-color: $bg-color;
}

// header
header {
    position: relative;
}

.header-logo {
    position: relative;
    z-index: -1;
    box-shadow: none;
    padding-top: 25px;
    img {
        width: 45%;
    }
}

.header-arrow {
    position: absolute;
    top: 27px;
    left: 25px;
    i {
        color: rgba(53,53,53,255);
        font-size: $size-medium;
        font-weight: bold;
    }
}

// restaurant bg
.restaurant-bg {
    height: 250px;
    img {
        object-fit: cover;
        width: 100%;
    }
}

// main
.main-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    top: -40px;
    border-radius: 40px 40px 0 0;
    background-color: $bg-color;
    padding: 35px 15px 0px 15px;
    h2 {
        text-transform: uppercase;
        position: relative;
        font-weight: 400;
        padding: 0 0 10px 10px;
        &::after {
            content: "";
            position: absolute;
            left: 10px;
            bottom: 0;
            height: 2px;
            width: 40px;
            border-bottom: 4px solid $tertiary;
        }
    }
}

.main-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
        margin: 0;
        font-family: $font-logo-title;
        font-size: $size-very-high;
        font-weight: 500;
        padding-left: 10px;
    }
    i {
        font-size: $size-high;
        padding-right: 10px;
    }
    &__heart {
        position: relative;
        cursor: pointer;
        &-full {
            position: absolute;
            top: 0;
            opacity: 0;
            color: $primary;
            transition: opacity 500ms ease-in-out;
        }
        &:active > .main-title__heart-full {
            opacity: 1;
        }
    }
}

// card meal
.card-meal {
    position: relative;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    box-shadow: 0 2px 20px -4px rgb(194, 194, 194);
    border-radius: 15px;
    margin-top: 15px;
    cursor: pointer;
    &__description {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 5px;
        width: 80%;
        transition: 400ms ease-in-out; 
        h3 {
            margin: 0;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-size: $size-low;
            font-weight: 500;
        }
        p {
            margin: 0;
            font-size: $size-x-x-low;
            font-weight: 300;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    &__price {
        width: 20%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding: 15px 0 1px 15px;
        font-weight: 500;
        transform: translateX(0);
        transition: transform 400ms;
    }

    &__bar {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
        background-color: $tertiary;
        transform: translateX(100%);
        transition: transform 400ms;
        &__check {
            font-size: $size-high;
            color: white;
            }
        }
    
    &:active {
        > .card-meal__description {
            width: 60%;
        }

        > .card-meal__price {
            transform: translateX(-100%);
        }

        .card-meal__bar {
            transform: translateX(0%);
            }

        > .card-meal__bar > .card-meal__bar__check {
            animation: check-move 400ms ease-in-out;
        }
    }
}

// Animations Entrées Plats Desserts
.entrance {
    transform: translateY(0);
    animation: entrance-move 2000ms ease-in-out;
}

.dish {
    transform: translateY(0);
    animation: dish-move 2000ms ease-in-out;
}

.dessert {
    transform: translateY(0);
    animation: dessert-move 2000ms ease-in-out;
}

// Commander
.main-order {
    display: flex;
    justify-content: center;
    padding: 15px 0;
    a {
        text-decoration: none;
        color: white;
        padding: 15px 55px;
        border-radius: 30px;
        background-image: linear-gradient(0deg, $primary, $secondary);
        box-shadow: 0 1px 8px 3px rgb(185, 184, 184);
        position: relative;
        z-index: 1;
        &:active {
            &::after {
                opacity: 0.2;
            }
        }
        &::after {
            content: "";
            position: absolute;
            border-radius: 30px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: white;
            box-shadow: 0 2px 8px 8px rgb(0, 0, 0);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
    }
}
