// version desktop

// variables
// variables
$primary: #9356DC;
$size-x-high: 2.5rem;
$size-very-high: 1.7rem;
$size-high: 1.6rem;
$size-medium: 1.3rem;
$size-low: 1.2rem;
$size-very-low: 1.1rem;
$size-x-low: 0.9rem;
$size-x-x-low: 0.8rem;

// header
header {
    width: 40%;
    margin: 35px auto;
}

// functioning
.section-functioning {
    padding-top: 25px;
    padding-bottom: 25px;
    h2 {
        text-align: center;
    }
}

.functioning-wrap {
    column-gap: 2%;
    justify-content: center;
    &__line {
        width: 25%;
    }
}

// restaurants
.main-restaurant {
    h2 {
        text-align: center;
    }
}

.devices-wrap {
    column-gap: 2%;
    a {
        width: 23.5%;
    }
}

// footer
.footer-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 5%;
}

// font-size
form {
    i, input {
        font-size: $size-medium;
    }
}

nav {
    h2 {
        font-size: $size-very-high;
    }
    p, a {
        font-size: $size-medium;
    }
}

.functioning-wrap__line {
    &-number, &-icon, &-text {
        font-size: $size-low;
    }
}
.footer-title p {
    font-size: $size-x-high;
}

.footer-links {
    p {
        font-size: $size-medium;
    }
}
// hover
nav a:hover {
    &::after {
        opacity: .2;
    }
}

.functioning-wrap__line:hover {
    > .functioning-wrap__line-icon {
        color: $primary;
    }
    &::after {
        opacity: 1;
    }
}

.card-content__heart:hover > .card-content__heart-full {
    opacity: 1;
}