// header
header {
    margin: 35px;
}

.header-logo {
    border-radius: 15px 15px 0 0;
}

form {
    border-radius: 0 0 15px 15px;
    box-shadow: 0 1px 8px 3px rgb(185, 184, 184);
}

// nav
nav {
    margin: 35px 35px 0;
    border-radius: 15px;
}

// functioning
.section-functioning {
    padding: 15px 35px;
}

.functioning-wrap {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    padding-bottom: 25px;
    &__line {
        width: 33%;
    }
}

// restaurants
.main-restaurant {
    padding: 45px 35px;
}

.devices-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 2%;
    a {
        width: 49%;
    }
}

// footer
.footer-title {
    display: flex;
    justify-content: center;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}
