// format utilisé iPad


// header
header {
    width: 90%;
    margin: 35px auto 0;
    border-radius: 15px 15px 0 0;
    box-shadow: 0 1px 8px 3px rgb(185, 184, 184);
}

.header-arrow {
    top: 40px;
    left: 50px;
}

// restaurant bg
.restaurant-bg {
    width: 90%;
    margin: 0 auto;
}

// main
.main-menu {
    width: 90%;
    margin: 0 auto;
    box-shadow: 0 1px 8px 3px rgb(185, 184, 184);
    padding: 40px 60px;
    top: 0;
}

.card-meal {
    padding: 5px 0;
}

// footer
footer {
    position: relative;
    z-index: 1;
}