// variables
$primary: #9356DC;
$size-x-high: 2.5rem;
$size-super-high: 1.9rem;
$size-very-high: 1.7rem;
$size-high: 1.6rem;
$size-medium: 1.3rem;
$size-low: 1.2rem;
$size-very-low: 1.1rem;
$size-x-low: 0.9rem;
$size-x-x-low: 0.8rem;

// header
header {
    width: 70%;
    margin-bottom: 0;
}

.header-logo {
    img {
        width: 35%;
    }
}

.header-arrow {
    top: 40%;
    left: 10%;
    i {
        font-size: $size-super-high;
    }
}

// restaurant bg
.restaurant-bg {
    width: 70%;
    height: 500px;
    img {
        top: -140px;
    }
}

// main
.main-menu {
    width: 70%;
    padding: 3% 7%;
    row-gap: 40px;
}

// hover
.main-title__heart:hover > .main-title__heart-full {
    opacity: 1;
}

.card-meal:hover {
    > .card-meal__description {
        width: 60%;
    }

    > .card-meal__price {
        transform: translateX(-100%);
    }

    .card-meal__bar {
        transform: translateX(0%);
        }

    > .card-meal__bar > .card-meal__bar__check {
        animation: check-move 400ms ease-in-out;
    }
}

.main-order a:hover {
    &::after {
        opacity: .2;
    }
}