// format utilisé iPad

// -MAIN--MAIN--MAIN--MAIN--MAIN--MAIN--MAIN--MAIN--MAIN--MAIN--MAIN-

// header
header {
    margin: 35px;
}

.header-logo {
    border-radius: 15px 15px 0 0;
}

form {
    border-radius: 0 0 15px 15px
}

// nav
nav {
    margin: 35px 35px 0 35px;
    border-radius: 15px;
}

// functioning
.section-functioning {
    padding: 15px 35px;
}

.functioning_wrap {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    &__line {
        width: 25%;
        margin: 0;
    }
}

// restaurants
.main-restaurant {
    padding: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 2%;
    h2 {
        width: 100%;
        padding-bottom: 15px;
    }
    a {
        width: 49%;
    }
}

// footer
.footer-title {
    display: flex;
    justify-content: center;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}


// -MENU--MENU--MENU--MENU--MENU--MENU--MENU--MENU--MENU--MENU--MENU--MENU-

