* {
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

// variables
$font-logo-title: 'Shrikhand', cursive;
$primary: #9356DC;
$secondary: #FF79DA;
$tertiary: #99E2D0;
$bg-color: rgba(246,246,246,255);

$size-very-high: 1.7rem;
$size-high: 1.6rem;
$size-medium: 1.3rem;
$size-low: 1.2rem;
$size-very-low: 1.1rem;
$size-x-low: 0.9rem;
$size-x-x-low: 0.8rem;


// header
header {
    display: flex;
    flex-direction: column;
}

.header-logo {
    display: flex;
    justify-content: center;
    z-index: 1;
    padding: 35px 0 15px 0;
    box-shadow: 0 1px 8px 3px rgb(185, 184, 184);
    & img {
        width: 50%;
    }
}

form {
    display: flex;
    justify-content: center;
    background-color: rgba(234,234,234,255);
    h3 {
        display: flex;
        justify-content: center;
        align-items: baseline;
        font-weight: 500;
        font-size: $size-very-low;
        color: rgba(50,50,50,255);
    }
    i {
        padding-right: 20px;
    }
    input {
        width: 70%;
        border: none;
        background: none;
        outline: none;
        font-weight: 500;
        font-size: $size-very-low;
        color: rgba(50,50,50,255);
    }
}

// nav
nav {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    background-color: $bg-color;
    text-align: center;
    padding: 35px 35px 85px 35px;
    font-size: $size-very-low;
    h2 {
        margin: 0;
        padding-bottom: 15px;
        font-size: $size-very-high;
    }
    p {
        margin: 0;
        color: rgba(110,110,110,255);
        font-size: $size-very-low;
    }
    a {
        text-decoration: none;
        color: white;
        padding: 20px 25px;
        border-radius: 30px;
        background-image: linear-gradient(0deg, $primary, $secondary);
        box-shadow: 0 1px 8px 3px rgb(185, 184, 184);
        position: relative;
        z-index: 1;
        &:active {
            &::after {
                opacity: .2;
            }
        }
        &::after {
            content: "";
            position: absolute;
            border-radius: 30px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: white;
            box-shadow: 0 1px 8px 3px rgb(90, 90, 90);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
    }
}

// functioning
.section-functioning {
    padding: 25px 20px 45px 20px;
    h2 {
        font-size: $size-very-high;
    }
}

.functioning-wrap {
    display: flex;
    flex-direction: column;
    &__line {
        margin: 0 0 25px 15px;
        position: relative;
        z-index: 1;
        display: flex;
        column-gap: 25px;
        background-color: $bg-color;
        border-radius: 20px;
        padding: 15px 15px 15px 35px ;
        box-shadow: 0px 8px 13px -4px rgb(214, 213, 213);
        &:active {
            &::after {
                opacity: 1;
            }
        }
        &::after {
            content: "";
            position: absolute;
            border-radius: 20px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(147, 86, 220, 0.1);
            box-shadow: 0px 8px 13px -4px rgb(214, 213, 213);
            opacity: 0;
            z-index: -1;
            transition: opacity 250ms;
        }
        &:active {
            & > .functioning-wrap__line-icon {
                color: $primary;
            }
        }
        &-number {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            left: -15px;
            top: 28px;
            background-color: $primary;
            border-radius: 50%;
            height: 30px;
            width: 30px;
            p {
                margin: 0;
                color: white;
            }
        }
        &-icon {
            width: 15px;
            display: flex;
            justify-content: center;
            color: rgba(110,110,110,255);
        }
        &-text {
            font-weight: 500;
        }
    }
}

// restaurants
.main-restaurant {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 55px 20px 75px 20px;
    background-color: $bg-color;
    h2 {
        margin: 0;
        font-size: $size-very-high;
    }
    a {
        text-decoration: none;
    }
}

.card-wrapper {
    position: relative;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 8px 13px -4px rgb(214, 213, 213);
    color: black;
    img {
        object-fit: cover;
        border-radius: 15px 15px 0 0;
        height: 70%;
    }
    &__new {
        position: absolute;
        top: 15px;
        right: 15px;
        background-color: $tertiary;
        color: rgb(11, 139, 107);
        font-weight: 500;
        padding: 8px 12px;
        font-size: $size-x-x-low;
    }
}

.card-content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    height: 30%;
    &__text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 8px;
        h4 {
            margin: 0;
            font-size: $size-very-low;
        }
        p {
            margin: 0;
        }
    }
    &__heart {
        position: relative;
        i {
            font-size: $size-medium;
            margin: 0;
            padding-top: 5px;
            color: $primary;
        }
        &-full {
            position: absolute;
            top: 0;
            opacity: 0;
            transition: opacity 500ms ease-in-out;
        }
        &:active > .card-content__heart-full {
            opacity: 1;
        }
    }
}

// footer
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    padding: 35px 25px 25px 25px;
    background: rgba(53,53,53,255);
    color: white;
}

.footer-title p {
      font-family: $font-logo-title;
      font-size: $size-low;
      margin: 0;
}

.footer-links {
    i {
        width: 25px;
    }
    p {
        margin: 0;
        padding-bottom: 12px;
    }
    a {
        text-decoration: none;
        color: white;
    }
}

.fa-hands-helping {
    font-size: $size-x-low;
}

// loader-spinner
.main-loader {
    position: fixed;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 55px;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    // animation: loader 3000ms ease-in-out;
    &__cube {
        width: 100px;
        height: 100px;
        background-color: $primary;
        position: relative;
        z-index: 1;
        // animation: cube-turn 3000ms ease-in-out;
        &::after {
            content: "";
            position: absolute;
            z-index: -1;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $secondary;
            // animation: cube-color 3000ms ease-in-out;
        }
    }
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 50%;
        }
    }
}

@keyframes loader {
    0% {
        opacity: 1;
        visibility: visible;
    }
    50% {
        opacity: 1;
        visibility: visible;
    }
    90% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes cube-turn {
    0% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

@keyframes cube-color {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}