* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  padding: 35px 0 15px 0;
  -webkit-box-shadow: 0 1px 8px 3px #b9b8b8;
          box-shadow: 0 1px 8px 3px #b9b8b8;
}

.header-logo img {
  width: 50%;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #eaeaea;
}

form h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  font-weight: 500;
  font-size: 1.1rem;
  color: #323232;
}

form i {
  padding-right: 20px;
}

form input {
  width: 70%;
  border: none;
  background: none;
  outline: none;
  font-weight: 500;
  font-size: 1.1rem;
  color: #323232;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
  background-color: #f6f6f6;
  text-align: center;
  padding: 35px 35px 85px 35px;
  font-size: 1.1rem;
}

nav h2 {
  margin: 0;
  padding-bottom: 15px;
  font-size: 1.7rem;
}

nav p {
  margin: 0;
  color: #6e6e6e;
  font-size: 1.1rem;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 20px 25px;
  border-radius: 30px;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background-image: linear-gradient(0deg, #9356DC, #FF79DA);
  -webkit-box-shadow: 0 1px 8px 3px #b9b8b8;
          box-shadow: 0 1px 8px 3px #b9b8b8;
  position: relative;
  z-index: 1;
}

nav a:active::after {
  opacity: .2;
}

nav a::after {
  content: "";
  position: absolute;
  border-radius: 30px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
  -webkit-box-shadow: 0 1px 8px 3px #5a5a5a;
          box-shadow: 0 1px 8px 3px #5a5a5a;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.section-functioning {
  padding: 25px 20px 45px 20px;
}

.section-functioning h2 {
  font-size: 1.7rem;
}

.functioning-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.functioning-wrap__line {
  margin: 0 0 25px 15px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 15px 15px 15px 35px;
  -webkit-box-shadow: 0px 8px 13px -4px #d6d5d5;
          box-shadow: 0px 8px 13px -4px #d6d5d5;
}

.functioning-wrap__line:active::after {
  opacity: 1;
}

.functioning-wrap__line::after {
  content: "";
  position: absolute;
  border-radius: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(147, 86, 220, 0.1);
  -webkit-box-shadow: 0px 8px 13px -4px #d6d5d5;
          box-shadow: 0px 8px 13px -4px #d6d5d5;
  opacity: 0;
  z-index: -1;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.functioning-wrap__line:active > .functioning-wrap__line-icon {
  color: #9356DC;
}

.functioning-wrap__line-number {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: -15px;
  top: 28px;
  background-color: #9356DC;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.functioning-wrap__line-number p {
  margin: 0;
  color: white;
}

.functioning-wrap__line-icon {
  width: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #6e6e6e;
}

.functioning-wrap__line-text {
  font-weight: 500;
}

.main-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25px;
  padding: 55px 20px 75px 20px;
  background-color: #f6f6f6;
}

.main-restaurant h2 {
  margin: 0;
  font-size: 1.7rem;
}

.main-restaurant a {
  text-decoration: none;
}

.card-wrapper {
  position: relative;
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 0px 8px 13px -4px #d6d5d5;
          box-shadow: 0px 8px 13px -4px #d6d5d5;
  color: black;
}

.card-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
  height: 70%;
}

.card-wrapper__new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99E2D0;
  color: #0b8b6b;
  font-weight: 500;
  padding: 8px 12px;
  font-size: 0.8rem;
}

.card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  height: 30%;
}

.card-content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 8px;
}

.card-content__text h4 {
  margin: 0;
  font-size: 1.1rem;
}

.card-content__text p {
  margin: 0;
}

.card-content__heart {
  position: relative;
}

.card-content__heart i {
  font-size: 1.3rem;
  margin: 0;
  padding-top: 5px;
  color: #9356DC;
}

.card-content__heart-full {
  position: absolute;
  top: 0;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.card-content__heart:active > .card-content__heart-full {
  opacity: 1;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 25px;
  padding: 35px 25px 25px 25px;
  background: #353535;
  color: white;
}

.footer-title p {
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
  margin: 0;
}

.footer-links i {
  width: 25px;
}

.footer-links p {
  margin: 0;
  padding-bottom: 12px;
}

.footer-links a {
  text-decoration: none;
  color: white;
}

.fa-hands-helping {
  font-size: 0.9rem;
}

.main-loader {
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 55px;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.main-loader__cube {
  width: 100px;
  height: 100px;
  background-color: #9356DC;
  position: relative;
  z-index: 1;
}

.main-loader__cube::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FF79DA;
}

.main-loader__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-loader__text img {
  width: 50%;
}

@-webkit-keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes loader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes cube-turn {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@keyframes cube-turn {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
  }
}

@-webkit-keyframes cube-color {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes cube-color {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=main.css.map */